<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="/Users/huijing/study/cafe/src/main/resources/static/css/bootstrap.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="/Users/huijing/study/cafe/src/main/resources/static/css/bootstrap-theme.css">
    <style>
        *{padding:0;margin:0;}
        body{
            background-color:lightgoldenrodyellow;
        }
        #front{
            background-color: lightgoldenrodyellow;
            padding: 30px 30px 0px 30px;
        }
        ul li{
            padding: 20px 20px ;
        }
       ul li a{
           color: dimgray;
        }
        div h1{
            font-weight: bolder;
            font-size: 30px;
            padding-left: 40px;
            margin-bottom: fill;
        }

    </style>
    <title>a cup of coffee</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="front">
            <div class="col-md-4 col-sm-6" >
                <div class="col-md-4">
                    <div class="container-fluid">
                        <img alt="" src="/Users/huijing/Downloads/Food_Coffee (8)/Food_Coffee_1 copy 8.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8">
                    <h1>a cup of coffee</h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 text-right" role="navigation">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group col-xs-2">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <button type="button" class="btn btn-link  navbar-btn">HOME</button>
                <button type="button" class="btn btn-link  navbar-btn">Join</button>
                <button type="button" class="btn btn-link  navbar-btn">Sign in</button>
                <button type="button" class="btn btn-link  navbar-btn">Sign out</button>
            </div>

        </div>
        <div class="row">
           <div class="col-md-2 text-center">
             <ul class="list-group list-unstyled">
                 <h4>JEJU CAFE</h4>
                 <li class="list-group-item-light"><a href="#">CITY</a></li>
                 <li class="list-group-item-light"><a href="#">NORTH</a></li>
                 <li class="list-group-item-light"><a href="#">SOUTH</a></li>
                 <li class="list-group-item-light"><a href="#">EAST</a></li>
                 <li class="list-group-item-light"><a href="#">WEST</a></li>
                 <h4>BOARD</h4>
                 <li class="list-group-item-light"><a href="#">FAV</a></li>
                 <li class="list-group-item-light"><a href="#">WISHLIST</a></li>
             </ul>
           </div>
            <div class="col-md-10">
               <img src="/Users/huijing/study/cafe/IMG_2523.jpeg" class="img-responsive center-block" alt="Responsive image">
            </div>
        </div>
        <div class="col-xs-12">
<!--            <h6 class="text-center">contact legal Q&A</h6>-->
            <h5 class="text-center">designed by hyekyung</h5>
        </div>
    </div>
<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>